body,
textarea,
label {
  font-family: monospace;
  font-size: 14px;
}

body,
textarea {
  background-color: #0b0e14;
  color: #bfbdb6;
}

textarea {
  border-color: #6c738033;
  outline: none;
  scrollbar-width: none;
  border-radius: 4px;
  resize: none;
  padding: 16px;
}

code {
  background-color: #47526633;
  padding: 4px;
  border-radius: 4px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

main {
  display: flex !important /* Override normalize.css' display: block */;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  width: 48rem;
}

@media (max-width: 64rem) {
  main {
    width: 100%;
    padding: 32px;
  }
}
